html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-open-sans;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: $font-raleway;
  font-size: 2.25rem;
  font-weight: 400;
}

.container {
  width: 1352px;
  margin: 0 auto;
}

@media (min width: 720px) and (max-width: 601px){
  .container {
    width: 700px;
  }

}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto;
  }
}



