.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-redish; //$accent-color
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: $font-raleway;
  font-weight: 700;
}

[class^="pricing__price-"] {
  font-size: 2.875rem;
  font-family: $font-open-sans;
  font-weight: 300;
  margin-top: 25px;

}

.pricing__price-1 {
  color: $color-redish;
}

.pricing__price-2 {
  color: $color-blue;
}

.pricing__price-3 {
  color: $color-green;
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: $font-raleway;
  font-weight: 700;
}

.pricing__items {
  text-align: center;
  list-style: none;
}

.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
}

.pricing-button--basic {
  background-color: $color-redish;
}
.pricing-button--pro {
  background-color: $color-blue;
}
.pricing-button--premium {
  background-color: $color-green;
}

/*** Basic Box ***/
.pricing__box--basic {
  border-color: $color-redish;
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}


/*** Professional Box **/
.pricing__box--professional {
  border-color: $color-blue;
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px $color-primary-shadow;
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

/*** Premium Box ***/
.pricing__box--premium {
  border-color: $color-green;
}

@media (min width: 601px) and (max-width: 720px) {
  .pricing {
    margin: 30px auto;
    width: 700px;
    margin-bottom: -150px;
  }

  .pricing__boxes {
    transform: translate(-15px, -130px) scale(0.5);
  }
}
@media (max-width: 600px) {
  .pricing {
    margin: 20px auto;
  }

  .pricing__type {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  [class^=pricing__price-] {
    margin-top: 0;
  }

  .pricing__details {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .pricing__boxes {
    flex-direction: column;
  }

  .pricing__items {
    margin-bottom: -20px;
  }

  .pricing__box {
    margin-bottom: 50px ;

  }

  .pricing__box .btn {
    text-align: center;
    width: 150px;
  }

  .pricing__box--basic {
    width: 80vw;
  }

  .pricing__box--professional {
    width: 90vw;
  }

  .pricing__box--premium {
    width: 80vw;
  }

}

